
.container
    .container-items
        div /server
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='bb90f6950d09fa41253b2420c7f43a08502cbe0b8d4253874206fca421c222c9', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='bb90f6950d09fa41253b2420c7f43a08502cbe0b8d4253874206fca421c222c9', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status running
.container
    .container-items
        div /abc
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='3f65d3b2953f5817014cbfaea6febca091cb28aa7c0debfa6953801cb2c962dc', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='3f65d3b2953f5817014cbfaea6febca091cb28aa7c0debfa6953801cb2c962dc', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status created
.container
    .container-items
        div /serverexample
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='da29364ba43d0f51d7275fdc99086f7d99b44a3ea0ec0b9671f365a691eb3bf7', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='da29364ba43d0f51d7275fdc99086f7d99b44a3ea0ec0b9671f365a691eb3bf7', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status running
.container
    .container-items
        div /containe
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='d284cbc22e325b2f4221bfa66696e37a06e499e9e6cb1518dd51ae29fc4334a5', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='d284cbc22e325b2f4221bfa66696e37a06e499e9e6cb1518dd51ae29fc4334a5', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status created
.container
    .container-items
        div /la
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='22fb6ce7e59d6597b99b0f869207a2efd8b4f3f547a302e9bb2bae5e3d980177', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='22fb6ce7e59d6597b99b0f869207a2efd8b4f3f547a302e9bb2bae5e3d980177', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status created
.container
    .container-items
        div /con
        button.containerReq(id='', onclick='') Edit
        button.containerReq.stop(id='71a93d64cf298d5bc4ed4354bb818a4a55e6ff375999877fb85313979d6c53d4', onclick='containerReq(this.id)') Stop
        button.containerReq.start(id='71a93d64cf298d5bc4ed4354bb818a4a55e6ff375999877fb85313979d6c53d4', onclick='containerReq(this.id)') Start
        p#res Waiting for server...
    .container-items
        #status created